.searchDay {
  background-color: var(--secondary_color);
  color: var(--second_color);
  border: 2px solid var(--secondary_color);
  border-radius: 10px;
  font-size: var(--extra_small);
}
.searchDay:hover {
  background-color: var(--primary_color);
  color: var(--secondary_color);
}
#table_header > tr > td {
  color: white;
  font-size: var(--extra_extra_small);
}
#allDate {
  background-color: var(--secondary_color);
  color: white;
  border: none;
  padding: 0.3em 0.6em;
}
#allDate:hover {
  background-color: var(--second_color);
  color: var(--first_color);
}
#search{
  background-color: var(--second_colors);
  border: none;
  border-radius: 50px;
  color: var(--first_color);
}
#search:hover{
  color: var(--secondary_color);
}