
body{
    background-color:var(--primary_color);
    font-family: var(--primary_font);
}
.bcontent {
    margin-top: 10px;
}

.cart{
    border-radius: 5px !important;
    background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);
    padding :15px;
   
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

.schedule{
font-size: 0.8rem !important;
color: var(--tertiary_color) !important; 
font-weight: bolder;
background-color: #2535A1 !important;
border-radius: 0.5rem !important;
text-align: center;
bottom: 0;
}
.col-sm-7{
    border-right: 2px solid var(--primary_color);
    overflow: hidden !important;
}
.page-deader{
    font-size: 1.875rem;
}