body {
  background-color: var(--primary_color) !important;
}
.hospital_location_header {
  text-align: center;
  color: var(--first_color);
  font-family: var(--secondary_font);
  font-size: var(--large);
}
