/* User Css root */

/* Background Color */
:root{
    --primary_color:#1C92D2;
    --secondary_color:#2535A1;
    --tertiary_color:#FFC652;
}
/* Text Color */
:root{
    --first_color:#FFFFFF;
    --second_color:#000000;
    --third_color:#FFC652;
    --fourth_color:#1C92D2;
}
/* Font Family */
:root{
    --primary_font: 'Source Sans Pro', sans-serif;
    --secondary_font:'Archivo Narrow', sans-serif;
}
/* Font Size */
:root{
    --extra_large:5em;
    --large:2.5em;
    --medium:1.87em;
    --small:1.56em;
    --extra_small:1.25em;
    --extra_extra_small:0.9em;
}

/* user profile*/
.profile{
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 50%;
}
#offcanvasRightLabel{
    color: #2535A1;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary_color);
    padding: 10px;
    border-radius: 1.5rem;
    border: 2px solid var(--tertiary_color);
}
.mainbox{
    color: var(--first_color);
    position: relative;
}
.usersetting{
    font-size: 2rem;
    background-color: transparent;
    color: var(--tertiary_color);
    border: none;
    position: absolute;
    top: 0;
    right: -5rem;
}

/* Header */
.navbar{
    background-color: var(--primary_color);
    border-bottom: 0.12em solid var(--second_color);
}
.navbar_text:hover{
   color:var(--tertiary_color);
}
.logo{
    color: var(--first_color);
}
.navbar_text_div{
    display: flex;
    justify-content: flex-end;
}
.navbar_text{
    color: var(--first_color);
    text-decoration: none;
    font-size: var(--extra_small);
}
.menu_bar_icon{
    color: var(--first_color) !important;
}

/* Footer */
.footer{
    position: relative;
    background-color: var(--secondary_color);
    font-family: var(--primary_font);
}
.backlogo_name{
    position: absolute;
    left: 25%;
    top: 30%;
    letter-spacing: 0.3em!important;
    font-size: var(--extra_large);
    color: var(--first_color);
    opacity: 0.05;
}
.link_color{
    color: var(--fourth_color);
}
@media only screen and (max-width: 800px) {
    .navbar_text_div{
        display: flex;
        justify-content: center;
    }
}

/* First Aid Card */
.first_aid_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary_color);
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    height: 20em;
    background-color: var(--primary_color);
}
.card_img{
    width: 40%;
    height: 100%;
}

.first_aid_card_header{
    color: var(--first_color);
    font-family: var(--primary_font);
}
.first_aid_para_header{
    color: var(--third_color);
    font-family: var(--primary_font);
}
.first_aid_para{
    color: var(--first_color);
    font-family: var(--primary_font);
}
.line{
    height: 1.5px;
    width: 80%;
    background-color: var(--second_color);
    margin-top: 1em;
    border: none;
}

/* Blue Square Button */
.square_blue_btn{
    background-color: var(--secondary_color) !important;
    color: var(--first_color);
    border: none;
    width: 250px;
    height: 50px;
    font-size: var(--extra_small);
}


/* White Square Button */
.square_white_btn{
    background-color: var(--first_color) !important;
    color:  var(--secondary_color);
    border: 2px solid var(--secondary_color);
    width: 250px;
    height: 50px;
    font-size: var(--extra_small);
}


/* White Link Button */
.link_white_btn{
    color: var(--first_color);
    font-size: var(--extra_small);
}
/* Blue Link Button */
.link_blue_btn{
    color:  var(--secondary_color);
    font-size: var(--extra_small);
    opacity: 50%;
}

/* Input Box */
.input_box{
    width: 30em;
    height: 3em;
    border: 1px solid var(--primary_color);
}

/* Search Box */
.searchbox{
    width: 25em;
    height: 2.5em;
    border-radius: 5em;
    position: relative;
}
.search_input{
    width: 20em;
    height: 2.5em;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5em;
    border: none;
}
.search_icon{
    position: absolute;
    top: 30%;
    left: 5em;
    font-size: var(--extra_small);
}
.search_text{
    position: absolute;
    top: 10%;
    left: 0;
    font-size: var(--extra_small);
}

/* <link rel="stylesheet" href="../resources/css/root.css"> */
