<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>button</title>
  <!-- CSS File -->
  <link rel="stylesheet" href="../../resources/css/root.css" />
  <link rel="stylesheet" href="./button.css" />
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Source+Sans+Pro&display=swap"
    rel="stylesheet" />
  <!-- Boostrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/fa91b09b37.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Blue Square Btn -->
  <button class="square_blue_btn">Continue</button>
  <!-- White Square Btn -->
  <button class="square_white_btn">Continue</button>
  <!-- Break Line -->
  <br />
  <br />

  <!-- White Link Btn -->
  <a href="" class="link_white_btn fw-bold">Click</a>
  <!-- Break Line -->
  <br />
  <br />

  <!-- Blue Link Btn -->
  <a href="" class="link_blue_btn fw-bold">Click</a>
  <!-- Break Line -->
  <br />
  <br />

  <!-- Input Box -->
  <input type="text" class="input_box" placeholder="Name" />
  <!-- Break Line -->
  <br />
  <br />

  <!-- Search Box -->
  <div class="searchbox">
    <span class="search_text fw-semibold">Search</span>
    <input type="text" class="search_input ps-5" placeholder="" />
    <i class="fa-solid fa-magnifying-glass search_icon"></i>
  </div>
  <!-- Break Line -->
  <br />
  <br />
</body>

</html>