<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="doctor.css">
</head>

<body>
    <div class="card cart" style="width: 23rem;">
        <dvi class="image">
            <img src="../image/vaccine.png" class="card-img-top" alt="...">
        </dvi>
        <div class="card-body">
            <div class="contact">
                <div class="btk">
                    <p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Button with data-bs-target
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <ul class="list-inline">
                                <li class="list-inline-item"> &nbsp; &nbsp; &nbsp;Date &nbsp; &nbsp; &nbsp; &nbsp;</li>
                                <li class="list-inline-item">Time &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</li>
                                <li class="list-inline-item">Hospital</li>
                            </ul>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        &nbsp; &nbsp; &nbsp; Mon &nbsp; 9:00Am ~ 11:00AM &nbsp; &nbsp; SSC
                                    </label>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        &nbsp; &nbsp; &nbsp; Mon &nbsp; 9:00Am ~ 11:00AM &nbsp; &nbsp; SSC
                                    </label>
                                </label>
                            </div>
                        </div>

                    </div>

                </div>
                <hr>
                <div class="btn-container">
                    <button class=" btn btn-outline-primary">continued</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>